.community {
  padding: 50px;
  background-color: #29134e3b;
  text-align: center;
}

.community h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.community-swiper {
  margin-top: 20px;
  padding: 20px 0;
}

.community-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.community-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.community-card h3 {
  font-size: 24px;
  margin: 15px 0;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .swiper-slide {
    width: calc(33.33% - 30px);
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    width: calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 100%;
  }
}
